{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BotSphere{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="#" class="close-btn" onclick="toggleSidebar()">&times;</a>
    <a href="/home">Home</a>
    <a href="/ai_assistant">Assistant</a>
    <a href="/audio_processing">Voice Assistant</a>
    <a href="/chatbot">Echo</a>
    <a href="/create_chatbot">Create ChatBot</a>
    <a href="/show_all_bots">All ChatBot</a>
    <form method="POST" action="{% url 'logout' %}" class="logout-form">
      {% csrf_token %}
      <button type="submit" class="logout-btn">Logout</button>
    </form>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    {% comment %} <button class="open-btn" onclick="toggleSidebar()">☰</button> {% endcomment %}
    <button class="open-btn" onclick="toggleSidebar()">☰</button>
    {% block content %}{% endblock %}
  </div>

  <script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        if (sidebar.style.left === '0px') {
          sidebar.style.left = '-250px'; // Hide sidebar
        } else {
          sidebar.style.left = '0px'; // Show sidebar
        }
    }
  </script>    
</body>
</html>
